# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/Editor settings
.vscode/
.idea/
