name: Auto Merge PR
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: { }
jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Set PAT environment variable
        run: echo "PAT=${{ secrets.BOT_TOKEN }}" >> $GITHUB_ENV
      - name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ env.PAT }}"
          MERGE_LABELS: "auto merge"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "automatic"
          MERGE_FORKS: "true"
          MERGE_RETRIES: "6"
          MERGE_RETRY_SLEEP: "10000"
          MERGE_REQUIRED_APPROVALS: "1"
          UPDATE_METHOD: "rebase"
